 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background-color: lightgray;
 }

 .container {

  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
 }

 .card-image {
  width: 50%;
  aspect-ratio: 1 / 1;
  margin: 100px auto;
  
 }